<div class="text-center card">
	<div class="card-body">
		<p>Başarıyla kayıt oldunuz.</p>
		<p>Giriş yapmak için aşağıdaki butonu kullanın.</p>
		<a class="btn btn-primary" asp-action="Login" asp-controller="Admin">Giriş Yap</a>
	</div>
</div>